<!DOCTYPE html>
<meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
<html>
<head>
	<title>雪绒花留言箱v0.1</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>
<body>
	<div align="center" style="margin-top: 50px;">
		<img src="{{url_for('static', filename='xue.png') }}">
	</div>

	<div align="center" style="min-width: 10px">
		<p>
			GCESS雪绒花 深夜匿名留言 每次留言请留下艺名
        </p>
	</div>

	<div align="center">
		<textarea id="memo" cols="70" rows="21" >{{newmessage}}</textarea><br/>
	</div>

    <div align="center">
        <form name="form1" method="POST">
            <textarea id="memo1" cols="70" rows="2" name="xliuyan" ></textarea><br/>
            <input type="submit" name="liu" value="    留言    " size="40">
            <input type="submit" name="liu" value="    刷新    " size="40">
			<input type="submit" name="liu" value="   历史留言  " size="40">
        </form>
    </div>
<tr>
    <td align="center" valign="middle" class="newsbox">
    <div class="zhengwen">
    <span class="zhengwenweizhi">
	当前位置：
	<a href="../index.html">首页</a>&raquo; 新闻快讯
	</span>

		 <ul class="ul_list">

								<li><a href="http://www.gcess.cn/xwkx/143209.html" target="_blank">            全球变化与中国绿色发展高端论坛
        </a><span class="newtime">全球院&nbsp&nbsp 2017-05-13</span> </li>
								<li><a href="143177.html" target="_blank">            “红色颂  中华情”诗文朗诵大赛圆满结束
        </a><span class="newtime">全球院&nbsp&nbsp 2017-05-12</span> </li>
								<li><a href="143078.html" target="_blank">            我院推荐的付永硕博士入选中组部第13批国家“千人计划”青年项目
        </a><span class="newtime">全球院&nbsp&nbsp 2017-05-11</span> </li>
								<li><a href="142260.html" target="_blank">            我院程晓教授荣获“中国极地考察先进个人”称号
        </a><span class="newtime">全球院&nbsp&nbsp 2017-04-25</span> </li>
								<li><a href="141739.html" target="_blank">            经法物全再获胜利，铿锵玫瑰驰骋球场
        </a><span class="newtime">全球院&nbsp&nbsp 2017-04-16</span> </li>
								<li><a href="141738.html" target="_blank">            南极勇士凯旋 ——中国南极第33次科考团队圆满完成任务
        </a><span class="newtime">全球院&nbsp&nbsp 2017-04-16</span> </li>
								<li><a href="141320.html" target="_blank">            全球变化与绿色发展协同创新中心主任工作会议短讯
        </a><span class="newtime">全球院&nbsp&nbsp 2017-04-05</span> </li>
								<li><a href="141276.html" target="_blank">            齐心协力话发展，协同创新谋良策 —全球院召开学科建设暨雾霾观测与模拟研讨...
        </a><span class="newtime">全球院&nbsp&nbsp 2017-04-01</span> </li>
								<li><a href="139890.html" target="_blank">            徐冰教授团队发文揭示汉坦病毒生态对环境变化与人类活动的响应机制
        </a><span class="newtime">全球院&nbsp&nbsp 2017-02-21</span> </li>
								<li><a href="139665.html" target="_blank">            全球院举办院发展讨论会
        </a><span class="newtime">全球院&nbsp&nbsp 2017-01-20</span> </li>
								<li><a href="139638.html" target="_blank">            全球院召开2016年度党政领导班子述职大会
        </a><span class="newtime">全球院&nbsp&nbsp 2017-01-19</span> </li>
								<li><a href="139375.html" target="_blank">            我院召开2016年度领导班子党员领导干部民主生活会
        </a><span class="newtime">全球院&nbsp&nbsp 2017-01-13</span> </li>
								<li><a href="139326.html" target="_blank">            我院王兰宁老师当选2016年度“感动师大”新闻人物
        </a><span class="newtime">全球院&nbsp&nbsp 2017-01-11</span> </li>
								<li><a href="http://www.nsfc.gov.cn/publish/portal0/tab38/info53551.htm" target="_blank">            关于国家自然科学基金资助项目资金管理有关问题的补充通知
        </a><span class="newtime">全球院&nbsp&nbsp 2017-01-11</span> </li>
								<li><a href="139232.html" target="_blank">            冰川提前崩解 无人机鸟瞰全景
        </a><span class="newtime">全球院&nbsp&nbsp 2017-01-06</span> </li>
								<li><a href="139231.html" target="_blank">            南极科考：无人机帮南极“花式自拍”
        </a><span class="newtime">全球院&nbsp&nbsp 2017-01-06</span> </li>
								<li><a href="139121.html" target="_blank">            校领导督察全球变化与地球系统科学研究院党建工作
        </a><span class="newtime">全球院&nbsp&nbsp 2016-12-31</span> </li>
								<li><a href="139019.html" target="_blank">            我院师生在校“2015-2016学年年度表彰大会”中获得多项荣誉
        </a><span class="newtime">全球院&nbsp&nbsp 2016-12-29</span> </li>
								<li><a href="138607.html" target="_blank">            冰山上的来客——全球院师生参加第33次南极科考中山站度夏工作取得重要进展
        </a><span class="newtime">全球院&nbsp&nbsp 2016-12-20</span> </li>
								<li><a href="138606.html" target="_blank">            卫星遥感监测发现：我国南极中山站“冰山围城”
        </a><span class="newtime">全球院&nbsp&nbsp 2016-12-20</span> </li>

				</ul>

				<div style="clear:both;"></div>

			 <DIV align=center>
				<FORM name=pageForm action="" method=post><tr><td width=70%>
				共305条，分16页，当前第<font color=red>1</font>页&nbsp;&nbsp;<a href="index.html">最前页</a>
				<a href="index.html">上一页</a>
				<a href="index1.html">下一页</a>
				<a href="index15.html">最后页</a>
				转到<select name="page" onchange="javascript:PageFormSubmit()">
																<option value="index.html" selected>1</option>
												<option value="index1.html" >2</option>
												<option value="index2.html" >3</option>
												<option value="index3.html" >4</option>
												<option value="index4.html" >5</option>
												<option value="index5.html" >6</option>
												<option value="index6.html" >7</option>
												<option value="index7.html" >8</option>
												<option value="index8.html" >9</option>
												<option value="index9.html" >10</option>
												<option value="index10.html" >11</option>
												<option value="index11.html" >12</option>
												<option value="index12.html" >13</option>
												<option value="index13.html" >14</option>
												<option value="index14.html" >15</option>
												<option value="index15.html" >16</option>
								</select>页
				</td></tr></form>
				<SCRIPT language=JavaScript>

				function PageFormSubmit()
				{
				document.location.href=document.pageForm.page.options[document.pageForm.page.selectedIndex].value;
				}
				</SCRIPT>
</DIV>






      </div>
      </td>
	</tr>
</body>
</html>



			












